@import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@100..900&display=swap');
@import "tailwindcss";

html{
    /* font-size: 62.5%; */
}

body{
    font-family: "Hanuman", serif;
    /* font-size: 1.5rem; */
}
.sub-cate>ul{
    display: none;
}
.sub-cate:hover>ul{
    display: block;
}